.main-container {
  width: 1080px;
  
  display: grid;
  grid-template-columns: 630px 330px; /* 각 행(세로줄)의 길이 */
  grid-template-rows: 120px 370px 890px 130px; /* 각 열(가로줄)의 길이 */
  gap: 10px; /* 자식요소간의 간격 */
}
  
.small_pic{
   margin-left:20px;
   cursor:pointer;
}

.direction{
    cursor:pointer;
}