.wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
  
}

#login,#logout{
  font-size: 15px;
  background-color: skyblue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

/*컨텐츠 박스에서의 css----------------------------------------------*/
#contents_box{
   
    width: 1500px;
    height: 50px;
    display: flex;
    align-items: center; /* 하위 요소들 수직 가운데정렬 */
    position: relative;
}

/* a 태그 이벤트 정의*/
a {
    text-decoration: none; /* 기본 밑줄을 제거합니다 */
    color: black;
  }
  a:hover {
    text-decoration: underline; /* 마우스 커서가 올라갔을 때 밑줄을 생성합니다*/
  }
  header > nav {
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 0;
   
  }
  .nav_items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
  
  }
  .nav_items ul > li {
    display: inline-block;
    margin-left: 70px;
  }
  .nav_items ul > li:nth-child(-n + 7) > a { /* <ul>하위 7번째 <li>까지 각각 내부의 <a> 태그 접근 */
    color: black;
  }
  .nav_items ul > li > a {
    text-decoration: none;
    cursor: pointer;
  }

/*---------------------------------------------------------------------*/


/*main 문 크기*/


/*광고밑에 버튼-----------------------------------------------------------*/
.circle{
    width:10px;
    height:10px;
    border-radius:50%;
    background:gray;
    font-size:16px;
    border: none;
    text-align:center;
    margin-left:30px; 
}
/*------------------------------------------------------------------------*/

/*커리큘럼 파트 버튼-------------------------------------------------------*/
.step{
    width:230px;
    height:230px;
    border-radius:50%;
    background:orange;
    font-size:16px;
    border: none;
    margin-top:10px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom:50px;
    text-align:center; 
    color:white;
}

.step_b{
  width:230px;
  height:230px;
  border-radius:50%;
  border-color:  cyan;
  
  background-color:black;
  font-size:16px;
  
  margin-top:10px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom:50px;
  text-align:center; 
  color:white;
}

/*fieldset -------------------------------------------------------------*/
fieldset{
    width:800px;
    padding:20px;
    text-align:center;
    padding-bottom:30px;
    padding-right:30px;
    padding-left:30px;
    border:3px solid black;
}


input[class="interests_item"] + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #bcbcbc;
    cursor: pointer;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    margin-top:20px;
}
input[class="interests_item"]:checked + label {
    background-color: black;
   
}

input[class="interests_item"] {
    display: none;
}

/*개발자를 찾으시나요 ?? 파트 버튼 -----------------------------------------*/

#welcome{
     display: flex;
  
    align-items: center; /* 하위 요소들 수직 가운데정렬 */
    position: relative;
}
.w-btn-neon2 {
  position: relative;
  border: none;
  font-size:17px;
  margin-left:120px;
  min-width: 200px;
  min-height: 70px;
  background: linear-gradient(
      90deg,
      rgba(129, 230, 217, 1) 0%,
      rgba(79, 209, 197, 1) 100%
  );
  border-radius: 1000px;
  color: darkslategray;
  cursor: pointer;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  font-weight: 700;
  transition: 0.3s;
}

.w-btn-neon2:hover {
  transform: scale(1.2);
}

.w-btn-neon2:hover::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}
@keyframes ring {
  0% {
      width: 30px;
      height: 30px;
      opacity: 1;
  }
  100% {
      width: 300px;
      height: 300px;
      opacity: 0;
  }
}

.li_m::marker{
  color:white
}

/*step1 회원가입 -----------------------------------------------------*/


.step:hover{
  background:#e77331;
  cursor:pointer;
}

#no_hard1:hover{
  text-decoration: underline; 
  cursor: pointer;
}
#no_hard2:hover{
  text-decoration: underline; 
  cursor: pointer;
}

