
  
  li {
    list-style-type: none;
  }

  
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom:150px
  }
  .number-button{
    margin-left:20px;
    font-size:15px;
    background-color:#13161c;
    border-radius:20%;
    border:none;
    color:white
   
  }
  .prev-button{
    font-size:15px;
  }
  .next-button{
    font-size:15px;
  }

  .number-button:hover{
    text-decoration: underline; 
    cursor: pointer;
  }

  .prev-button:hover{
    text-decoration: underline; 
    cursor: pointer;
  }
  .next-button:hover{
    text-decoration: underline; 
    cursor: pointer;
  }